.list {
    overflow-x: hidden;
    .list-items {
        display: flex;
        padding: 10px 15px;
        &.align-center {
            align-items: center;
        }
        &.align-top {
            align-items: top;
        }
        &.active{
            background: #7457ba !important;
            color: rgb(255, 255, 255);
            h4{
                font-weight: bold;
            }
        }

        &.read{
            h4{
                font-weight: bold;
            }
        }
    }
    
    .list-body {
        padding-left: 8px;
        width:100%;
    }
    .list-thumbnail {
        padding: 0 5px;
    }
    &.list-stripped {
        .list-items:nth-child(odd) {
            background: #f9f9f9;
        }
    }
    h4,
    p {
        margin-bottom: 4px;
    }
    h4{
        font-size: 1.2rem;
    }
    p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 40px);
        display: inline-block;
    }
}


ul.no-styles {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    margin-bottom: 0;
}

ul.un-list {
    display: flex;
    align-items: center;
    >li {
        margin: 0 4px;
    }
}