<header class="header bg-blue fixed-top">
	<div class="container-fluid">
		<div class="navigation-menu">
			<div class="logo">
				<a href="#" class="brand__logo">Ofis Ace</a>
			</div>

			<div class="main-menu">
				<ul class="menu-list">
					<li>
						<a href="/home">Home</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
					<li>
						<a href="/settings">Settings</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>

<div class="main-wrapper">

	<section class="side-navbar">
		<div class="tootlbar-header">
			<ul class="no-styles un-list btn-flex btn-icon-list">
				<li>
					<button class="btn btn-sm btn" id="hideTablebar"><i class="material-icons icon-30">list</i></button>
				</li>
				<li>
					<a href="javascript:void(0)" class="title">Title</a>
				</li>
			</ul>
		</div>
	</section>

	<section class="tablebar" id="tablebar">
		<div class="tootlbar-header">
			<ul class="no-styles un-list btn-flex toolbar-list btn-icon-list">
				<li>
					<button class="btn btn-sm btn" id="hideTablebar"><i class="material-icons icon-30">list</i></button>
				</li>
				<li>
					<a href="javascript:void(0)" class="title">Title</a>
				</li>
			</ul>

			<ul class="no-styles un-list btn-flex toolbar-list pull-right">
				<li>
					<a href="javascript:void(0)" class="a-button">Sort by Date</a>
				</li>
			</ul>
		</div>
		<div class="list list-stripped">
			<div class="list-items align-center">
				<div class="list-thumbnail">
					<img src="./assets/images/avatar/2.png" class="img-sm">
				</div>
				<div class="list-body">
					list body
				</div>
			</div>
			<div class="list-items align-center">
				<div class="list-thumbnail">
					<img src="./assets/images/avatar/2.png" class="img-sm">
				</div>
				<div class="list-body">
					list body
				</div>
			</div>
			<div class="list-items align-center">
				<div class="list-thumbnail">
					<img src="./assets/images/avatar/2.png" class="img-sm">
				</div>
				<div class="list-body">
					list body
				</div>
			</div>
		</div>
	</section>

	<section class="content">



		<div class="col-md-9" id="maincontent">
			<div class="tootlbar-header">
				<ul class="no-styles un-list toolbar-list btn-flex btn-icon-list">
					<li>
						<button class="btn btn-sm"><i class="material-icons icon-30">list</i></button>
					</li>
				</ul>

				<ul class="no-styles un-list toolbar-list btn-flex ">
					<li>
						<button class="btn btn-sm btn-round btn-important">Compose</button>
					</li>

					<li>
						<a href="javascript:void(0)" class="title">Inbox</a>
					</li>
				</ul>
			</div>

			<div class="content">

				<div class="tootlbar-header toolbar-padding">
					<ul class="no-styles un-list btn-flex btn-icon-list">
						<li>
							<button class="btn btn-sm"><i class="material-icons icon-30">close</i></button>
						</li>
						<li>
							<button class="btn btn-sm"><i class="material-icons icon-30">edit</i></button>
						</li>
						<li>
							<button class="btn btn-sm"><i class="material-icons icon-30">save</i></button>
						</li>
						<li>
							<a href="javascript:void(0)" class="title">Subject</a>
						</li>
					</ul>
				</div>

				<div class="email-wrapper">
					<div class="email-fields">
						<div class="e-label-field">
							<label for="#mailTo">To</label>
						</div>
						<div class="e-input-field">
							<input type="text" placeholder="To" class="form-control" id="mailTo">
							<span class="error">Not a receipent</span>
						</div>
					</div>
					<div class="email-fields">
						<div class="e-label-field">
							<label for="#mailTo">From</label>
						</div>
						<div class="e-input-field">
							<input type="text" placeholder="To" class="form-control" id="mailTo">
						</div>
					</div>
					<div class="email-fields">
						<div class="e-label-field">
							<label for="#mailTo">Subject</label>
						</div>
						<div class="e-input-field">
							<input type="text" placeholder="To" class="form-control" id="mailTo">
						</div>
					</div>
					<div class="email-fields">
						<div class="e-label-field">
							<label for="#mailTo">Cc</label>
						</div>
						<div class="e-input-field">
							<input type="text" placeholder="To" class="form-control" id="mailTo">
						</div>
					</div>
					<div class="email-fields">
						<div class="e-label-field">
							<label for="#mailTo">Bcc</label>
						</div>
						<div class="e-input-field">
							<input type="text" placeholder="To" class="form-control" id="mailTo">
						</div>
					</div>
				</div>

				<!-- <table class="table table-striped">
					<thead>
						<tr>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img _ngcontent-c1="" class="img-sm" src="./assets/images/avatar/2.png">John</td>
							<td>Doe</td>
							<td>john@example.com</td>
						</tr>
						<tr>
							<td><img _ngcontent-c1="" class="img-sm" src="./assets/images/avatar/3.png">Mary</td>
							<td>Moe</td>
							<td>mary@example.com</td>
						</tr>
						<tr>
							<td><img _ngcontent-c1="" class="img-sm" src="./assets/images/avatar/4.png">July</td>
							<td>Dooley</td>
							<td>july@example.com</td>
						</tr>
					</tbody>
				</table> -->

				<!-- <app-calendar></app-calendar> -->
			</div>
		</div>




		<div class="col-md-3" id="rightbar">
			<div class="tootlbar-header">
				<ul class="no-styles un-list btn-flex btn-icon-list">
					<li>
						<button class="btn btn-sm"><i class="material-icons icon-30">list</i></button>
					</li>
					<li>
						<a href="javascript:void(0)" class="title">Metadata</a>
					</li>
				</ul>
			</div>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
				standard
				dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
				specimen
				book.
			</p>
		</div>
	</section>
</div>