
//BORDER RADIUS
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

//USER SELECT
@mixin user-select($value) {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

// TEXT TRUNCATE
@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/// BLOCK ELEMENT
/// @access public
/// @param {String} $element - Element's name
@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

///  BLOCK MODIFIER
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}



//BUTON DEFAULT
@mixin btn-default($width, $height){
    width: $width;
    height: $height;
    display: inline-block;
    vertical-align: middle;
    border-color: transparent;
    text-align: center;
    padding: 0px 12px;
    //line-height: 29px;
    &:focus{
        outline: 0;
    }
}

//TEXT ELLIPS
@mixin text-ellipsis($max-width){
    max-width:$max-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}





//EM TO PX CONVERSTION
$browser-context: 14; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}


@mixin d-flex($flex, $justifycontent){
    display: $flex;
    justify-content: $justifycontent;
}

@mixin sidebar($width){
    width: $width;
    border-right: 3px solid #f9f9f9;
    padding-right: 3px;
    max-height: calc(100vh - 52px);
    overflow-y: auto;
}