//CUSTOM GRID IMPLEMENTATION
[class*="col-"] {
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

.content {
    max-height: calc(100vh - 52px);
    overflow-y: auto;
}

.content.flex-4 {
    flex: 4;
}
