@import "../utils/variables";
@import "../utils/mixins";
html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
table,
th,
td,
div,
section,
aside,
header,
footer {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #333;
}

a:hover {
    text-decoration: none;
}

.header {
    min-height: 52px;
    display: flex;
    align-items: center;
    &.bg-blue {
        background-image: linear-gradient(to right, #6a11cb 0%, #5853ea 100%); //background-image: linear-gradient(to top, #284e92 0%, #295095 1%, #2a5298 100%);
        color: $white;
    }
    &.fixed-top {
        position: fixed;
        width: 100%;
        top: 0;
    }
}

body {
    padding-top: 52px;
    font-size: 12px;
}



.main-wrapper {
    display: flex;
    min-height: calc(100vh - 52px);
}

.tablebar {
    @include sidebar(242px);
    flex: 1;
}

.side-navbar {
    @include sidebar(200px);
}




#showtableBar {
    display: none;
}

#showSidebar {
    display: none;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .sidebar {
        width: 208px;
    }
    .sidebar-open .header.fixed-top {
        left: 208px;
    }
    .sidebar-open .header,
    .sidebar-open .main-wrapper {
        padding-left: 208px;
    }
}






.menu-list {
    list-style: none;
    all: unset;
    >li {
        display: inline-block;
    }
}

.navigation-menu {
    position: relative;
}


.main-menu {
    padding-left: 180px;
}

.menu-list li a {
    color: $white;
    padding: 0 5px;
}





.email-wrapper {
    padding: 10px 15px;
    .email-fields {
        display: flex;
        justify-content: center;
        margin-bottom: 4px;
    }
    .e-label-field {
        flex: 1;
        text-align: right;
        margin-right: 12px;
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        .material-icons:before {
            content: '';
            display: inline-block;
        }
        .material-icons:before,
        label {
            vertical-align: middle;
            font-size: 1rem !important;
            line-height: 1;
        }
        label {
            line-height: 2rem;
        }
    }
    .e-input-field {
        width: 100%;
        flex: 4;
    }
}


.mce-tinymce.mce-container.mce-panel {
    width: calc(100% - 15px) !important;
}

.mce-panel {
    border: 1px solid #e9e9e9 !important;
}





@media screen and (max-width:1365px) {
    .side-navbar {
        display: none;
    }
    .b-navbar-overlay {
        display: flex !important;
    }
}


@media only screen and (max-width: 768px) {
    .sidebar-open .header.fixed-top {
        left: 0;
    }
    .sidebar-open .header,
    .sidebar-open .main-wrapper {
        padding-left: 0;
    }
    #sidebar {
        display: none;
    }
    #showSidebar {
        display: block;
    }
    .header {
        padding: 0 12px !important;
    }
    #rightbar {
        position: absolute;
        width: 300px;
        right: 0;
        background: #fff;
        height: 100%;
        border: 1px solid #ccc;
        display: none;
    }
    .tablebar {
        width: 250px;
    }
    #maincontent {
        max-width: 100%;
        flex: 0 0 100%;
    }
    #showtableBar {
        display: block;
    }
    #navbar {
        position: absolute;
        z-index: 999;
        height: 100%;
        background: #fff;
        border: 1px solid #ccc;
        padding: 0;
        top: 51px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .email-wrapper {
        padding: 10px 0;
    }
    .logo {
        position: relative;
        height: 100%;
        top: 0;
        left: 0;
        float: left;
        line-height: 3rem;
    }
    .hambrger-icon {
        position: relative;
        right: 0;
        top: 0;
        float: right;
        margin-left: auto;
        line-height: 3rem;
        .material-icons {
            color: $white;
        }
    }
    .mce-tinymce.mce-container.mce-panel {
        width: calc(100% - 3px) !important;
    }
}

@media screen and (min-width:769px) {
    .hide-desktop {
        display: none !important;
    }
}

@media screen and (max-width:768px) {
    .hide-mobile {
        display: none !important;
    }
}